.title{
  color: white;
  font-family: Impact;
  text-align: center;
  font-size: 50pt;

}

body{
  background-color: black;
  color:  white;
}

head{
  color: blue;
}

.description{
  font-family: Arial;
  text-align: center;
  color: white;
}

.sectors{
  font-family: Arial, bold;
  color: white;
  text-align: left;
  font-size: 30pt;
}

.games{
  color: white;
  text-align: left;
  font-family: Arial;
}

.downloadbuttons{
  background-color: white;
  color:black;
  border-radius: 50px;
  border-color: black;
  height: 50px;
  width: 100px;
}

.line1{
  height: 10px;
  color: white;
  background-color: white;
}

.line2{
  height: 2px;
  color:white;
  background-color: white;
}

.intermedia{
  color:white;
  background-color: white;
  height: 1px;
  width: 250px;
  margin: 10px 0;
}
